<form {{action "save" on="submit"}}>
  <div>
    <label>
      Firstname
      {{input type="text" value=firstName}}
    </label>
  </div>
  <div>
    <label>
      Lastname
      {{input type="text" value=lastName}}
    </label>
  </div>
  <div>
    <label>
      Email
      {{input type="text" value=email}}
    </label>
  </div>
  <div>
    <label>
      Street
      {{input type="text" value=street}}
    </label>
  </div>
  <div>
    <label>
      City
      {{input type="text" value=city}}
    </label>
  </div>
  <div>
    <label>
      State
      {{input type="text" value=state}}
    </label>
  </div>
  <div>
    <label>
      Zipcode
      {{input type="text" value=zipCode}}
    </label>
  </div>
  <div>
    <input type="submit" value="Save">
  </div>
</form>
