<form role="form" {{action "save" on="submit"}}>
    <div class="form-group">
      <label for="firstName">First Name:</label>
      {{input type="text" value=firstName}}
    </div>
    <div class="form-group">
      <label for="lastName">Last Name:</label>
      {{input type="text" value=firstName}}
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      {{input type="text" value=email}}
    </div>
    <div class="form-group">
      <label for="street">Street:</label>
      {{input type="text" value=street}}
    </div>
    <div class="form-group">
      <label for="city">City:</label>
      {{input type="text" value=city}}
    </div>
    <div class="form-group">
      <label for="state">State:</label>
      {{input type="text" value=state}}
    </div>
    <div class="form-group">
      <label for="zipCode">ZIP Code:</label>
      {{input type="text" value=zipCode}}
    </div>
    <button type="submit" value="Save" class="btn btn-primary">Submit</button>
</form>
