<p>
  {{link-to "User list" "users.index" }}
</p>

<h1>User show</h1>

<p>
  <strong>Firstname:</strong>
  <span>{{firstName}}</span>
</p>

<p>
  <strong>Lastname:</strong>
  <span>{{lastName}}</span>
</p>

<p>
  <strong>Email:</strong>
  <span>{{email}}</span>
</p>

<p>
  <strong>Street:</strong>
  <span>{{street}}</span>
</p>

<p>
  <strong>City:</strong>
  <span>{{city}}</span>
</p>

<p>
  <strong>State:</strong>
  <span>{{state}}</span>
</p>

<p>
  <strong>Zipcode:</strong>
  <span>{{zipCode}}</span>
</p>

